.menu {
    font-size: 14px;
    background-color: #fff;
    border-radius: 2px;
    padding: 5px 0 5px 0;
    width: 150px;
    height: auto;
    margin: 0;
  /* use absolute positioning  */
    position: absolute;
    list-style: none;
    box-shadow: 0 0 20px 0 #ccc;
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 1000;
    padding: 20px;
  }

.menu-item{
  font-size: 20px;
  text-align: center;
  cursor: default;
  font-style: italic;
  font-weight: 400;
  margin-block: 10px;
  width: 100%;
}

.menu-item:hover{
  background-color: rgba(185, 185, 240,0.5);
  font-weight: 600;
}

