.link-main{
    padding: 5px;
    display: flex;
    width: 100%;
    font-size: 18px;
}
.link-sub-div{
    display: flex;
}
.link-sub{
    display: flex;
    width: 95%;
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.link-icon{
    padding: 5px;
}
.link-item{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-item:hover{
    background-color: rgba(185, 185, 240,0.5);
    border-radius: 5px;
}